.i {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-left-wrapper {
    margin: 0px 10px 10px 130px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 800;
    margin: 5px 0px;
}

.i-Iam {
    font-size: 30px;
    font-weight: 800;
    margin: 5px 0px;
}


.i-name {
    font-size: 70px;
    margin: 5px 5px 5px 0;
}

.i-title {
    height: 50px;
    margin: 20px 0px;
    overflow: hidden;
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(104, 14, 222);
    display: flex;
    align-items: center;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.i-desc {
    font-size: 13px;
    font-weight: 300;
}


@keyframes move {
    34% {
        transform: translateY(-50px);
    }

    67% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150px);
    }
}

.i-image {
    width: 62%;
    height: 70%;
    object-fit: cover;
    position: absolute;
    margin-left: 155px;
    margin-top: 25px;
}

.i-bg {
    border-radius: 50%;
    background-color: rgb(104, 14, 222);
    width: 69%;
    height: 55%;
    position: absolute;
    align-items: center;
    margin-top: 180px;
    margin-left: 130px;
    box-shadow:0 2px 10px rgb(0, 0, 0);
}

.i-bgg {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 62%;
    height: 48%;
    position: absolute;
    align-items: center;
    margin-top: 210px;
    margin-left: 155px;
    box-shadow:0 2px 10px rgb(0, 0, 0);

}
.i-image{
    border-radius: 35%;
}


@media screen and (max-width : 480px) {
    .i {
        flex-direction: column;
        height: auto;
    }

    .i-left {
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .i-left-wrapper {
        padding: 20px;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .i-intro {
        font-size: 25px;
        margin: 0px 0px;
    }

    .i-name {
        font-size: 45px;
    }

    .i-Iam {
        font-size: 34px;
        margin: 0px 0px;
    }

    .i-title-item {
        justify-content: center;
    }

    .i-description {
        display: none;
    }



    /* Right */

    .i-right {
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .i-image {
        position: relative;
        width: 50%;
        z-index: 1;
    }

    .i-bg {
        clip-path: polygon(50% 0%, 80% 10%, 100% 16%, 100% 90%, 72% 91%, 48% 91%, 21% 91%, 0 91%, 0 17%, 20% 10%);
        background-color: rgb(104, 14, 222);
        width: 60%;
        height: 60%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }


}