.main {
    display: flex;
    justify-content: space-around;
}

.two {
    padding: 30px;
}

.i {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.i-left {
    display: flex;
    flex: 1;
    display: flex;
    justify-content: center;

}

.i-right {
    flex: 1;
    display: flex;
    position: relative;
}

.myImage {
    height: inherit;
    width: inherit;
}

.i-myImgBg {
    overflow: hidden;
    position: relative;
    top: 130px;
    left: 150px;
    height: 380px;
    width: 290px;
    border: 5px solid rgb(0, 0, 0);
    animation: changeRadius 6s infinite;
}

@keyframes changeRadius {
    0% {
        border-end-start-radius: 270px 200px;
        border-end-end-radius: 200px 100px;
        border-start-end-radius: 160px 300px;
        border-start-start-radius: 300px 200px;

    }

    50% {
        border-start-start-radius: 120px 200px;
        border-start-end-radius: 300px 160px;
        border-end-start-radius: 90px 200px;
        border-end-end-radius: 300px 200px;
    }

    100% {
        border-end-start-radius: 270px 200px;
        border-end-end-radius: 200px 100px;
        border-start-end-radius: 160px 300px;
        border-start-start-radius: 300px 200px;

    }
}

.i-left-wrapper {
    position: relative;
    top: 140px;
    left: 120px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 800;
    margin: 5px 0px;
}

.i-Iam {
    font-size: 30px;
    font-weight: 800;
    margin: 5px 0px;

}


.i-name {
    font-size: 70px;
    margin: 5px 5px 5px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.i-title {
    height: 50px;
    margin: 20px 0px;
    overflow: hidden;
    text-align: center;
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(104, 14, 222);
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.i-title-wrapper {
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    animation: move 10s ease-in-out infinite alternate;
}

.i-desc {
    font-size: 13px;
    font-weight: 300;
}



@keyframes move {
    34% {
        transform: translateY(-50px);
    }

    67% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150px);
    }
}

.i-image {
    position: absolute;
    width: 290px;
    height: 380px;
    left: 145px;
    top: 155px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);

}

/* .i-bg {
    background-color: rgb(104, 14, 222);
    width: 290px;
    height: 380px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    position: absolute;
    top: 45%;
    left: 43%;
    transform: translate(-50%, -50%);
} */


@media screen and (max-width : 768px) {

    /* Left */
    .i-left {
        align-items: center;
    }

    .i {
        height: 100vh;
        width: 100%;
    }

    .i-myImgBg {
        top: 120px;
        left: 35px;
        height: 310px;
        width: 235px;
    }

    .i-left-wrapper {
        top: 150px;
        padding: 20px 20px 20px 85px;
        position: static;
    }

    .i-intro {
        font-size: 30px;
        margin: 0px 0px;
    }

    .i-name {
        font-size: 50px;
    }

    .i-Iam {
        font-size: 30px;
        margin: 0px 0px;
    }


    /* Right */

    .i-image {
        position: relative;
        height: 280px;
        width: 220px;
        z-index: 1;
        top: 0;
        left: 0;
    }

    /* .i-bg {
        background-color: rgb(104, 14, 222);
        height: 280px;
        width: 220px;
        top: 52%;
        left: 55%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 0;
    } */

    /* .i-bgg {
        position: absolute;
        height: 280px;
        width: 220px;
        top: 160px;
        left: 20px;
        z-index: 1;
        position: absolute;
        background-color: rgb(243, 243, 243);
    } */

}

@media screen and (max-width : 480px) {
    .i {
        flex-direction: column;
        height: 100vh;
        position: relative;
    }

    .i-myImgBg {
        top: 120px;
        left: 35px;
        height: 310px;
        width: 235px;
    }

    .i-left {
        flex: 1;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .i-left-wrapper {
        padding: 10px;
        height: auto;
        text-align: center;
        align-items: center;
        position: static;
    }

    .i-intro {
        font-size: 25px;
        margin: 0px 0px;
    }

    .i-name {
        font-size: 45px;
    }

    .i-Iam {
        font-size: 34px;
        margin: 0px 0px;
    }

    .i-title-item {
        justify-content: center;
    }

    .i-description {
        display: none;
    }



    /* Right */

    .i-myImgBg {
        top: 0px;
        left: 145px;
        height: 270px;
        width: 200px;
    }

    .i-image {
        position: relative;
        height: 240px;
        width: 180px;
        z-index: 1;
        top: 0;
        left: 0;
    }
}