.pl {
  height: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}

.pl-text {
  width: 100%;
}

.pl-title {
  font-size: 50px;
  font-weight: 700;
}

.pl-desc {
  margin: 3% 15%;
  font-size: 20px;

}

.pl-list {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  width: 90%;
  text-align: justify;
}

.pl-section1{
  display: flex;
  width: 100%;
  margin: 2% 0%;
}
.pl-section2{
  display: flex;
  width: 100%;
}

.pl-s1-left-side{
  flex:1;
}
.pl-s1-right-side{
  flex:2;
  font-size: 18px;
}

.pl-s2-left-side{
  flex:2;
  font-size: 18px;
}
.pl-s2-right-side{
  flex:1
}

.pl-section-text-left{
  margin-right: 2%;
  
}

.pl-h2{
  text-align: end;
  margin-right: 2%;
}



@media screen and (max-width: 480px) {
  .pl-list{
    text-align: center;
  }
  .pl-title {
    font-weight: 600;
  }

  .pl-s1-left-side{
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .pl-h2{
    text-align: center;
  }

  .pl-desc {
    display: none;
  }

  .pl-section2{
    flex-direction: column-reverse;
  }
  .pl-section1{
    flex-direction: column;
  }

}