.skills{
    padding-top:60px ;
    height:100vh;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;;
}

.s-list{
    display: flex;
}

.s-div2{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.s-item{
    padding: 0px 20px;
    border-collapse: collapse;
    border-right: 2px solid rgb(137, 137, 137);
}

.s-item:nth-child(4){
    border-right: none;
}

.title{
    font-size: 50px;
}
.icon{
    color: blueviolet;
}

@media screen and (max-width:768px) {
    .skills{
        overflow: hidden;
    }

    .s-list{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .s-item{
        width: 100%;
        height:auto;
    }
    .s-type{
        font-size: 100%;
    }
    .s-div2 {
        display: flex;
        justify-content: center;
        border: 2px solid black;
    }
}


@media screen and (max-width:480px) {
    .skills{
        overflow: hidden;
    }

    .s-list{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .s-item{
        width: 100%;
        padding:5px 2px;
    }
    .s-type{
        font-size: 100%;
    }

    .icon{
        font-size:20px;
    }

    .s-type1{
        font-size: 7px;
    }

    .s-type2{
        font-size: 8px;
    }
}