.skills{
    height:100%;
    display: flex;
    margin:1% 10%;
}

.s-right{
    text-align: center;
    flex:1;
}

.s-list2{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
}

.s-item{
    color:  rgb(0, 0, 0);
    font-weight: 400;
    padding: 50px;
    border-right: 1px solid rgb(219, 219, 219);
}
.s-items{
    color:  rgb(0, 0, 0);
    font-weight: 400;
    padding: 50px;
}