.a{
    display: flex;
    align-items: center;
    height: 100vh;
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding-left: 5%;
}

.a-card.bg{
    position: absolute;
    top:50px;
    left:50px;
    background-color:  rgb(104, 14, 222);;
}
.a-right{
    flex: 1; 
}
.a-card{
    width:60%;
    height:70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{

    height:60%;
    object-fit: cover;
    border-radius: 30px;
}

@media screen and (max-width:480px) {
    .a{
      flex-direction: column-reverse;
      text-align: center;
      margin-top: 150px;
    }

    .a-left {
      width: 100%;
      padding:0px;
    }

    .a-card {
      height: 100%;
    }

    .a-card.bg, .a-award {
      display: none;
    }

   

    .a-desc,.a-sub{
      margin: 5px;
    }

    .a-img{
      height: 75%;
  }
}