.a {
  display: flex;
  align-items: normal;
  height: 100vh;
  padding: 50px 100px;
  background-color: #f9f9f9;

}

.a-left {
  display: flex;
  flex: 1;
  justify-content: center;
}

.a-title {
  font-size: 50px;
  font-weight: 600;
}

.a-sub {
  color: rgb(69, 69, 69);
  font-size: 20px;
  font-weight: 600;
}



.a-right {
  position: relative;
  top: 13%;
  flex: 1;
  padding: 20px;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  position: relative;
  height:310px;
  width: 420px;
  border-radius: 25px;
  top:20%;
}







/*             768px                */

@media screen and (max-width:768px) {
  .a{
    display: flex;
    flex-direction: column-reverse;
  }
  .a-right {
    top: 0;
    padding: 15px 20px;
    text-align: center;
  }

  .a-img{
    height: 230px;
    width: 350px;
    top: 0%;
  }


  .a {
    padding: 20px;
  }


}







@media screen and (max-width:480px) {
  .a {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }


  .a-card {
    height: 100%;
  }

  .a-card.bg,
  .a-award {
    display: none;
  }

  .a-right {
    display: flex;
    flex-direction: column;
    top: 0;
  }

  .a-title{
    margin: 15px 0px;
  }

  .a-title {
    font-weight: 600;
    font-size: 50px
  }



  .a-desc,
  .a-sub {
    font-size: 13px;
    margin: 5px;
  }

}