.c {
    height: 100vh;
    position: relative;

}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: #1e8686;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;

}

.c-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.c-title {
    font-size: 50px;
  font-weight: 700;
    margin: 0px;
}

.c-info-item {
    display: grid;
    align-items: center;
}

.c-icon {
    font-size: 30px;
    margin-right: 20px
}

.c-jodi {
    display: flex;
    margin: 20px 20px
}

.c-jodi:hover {
    color:#1e8686;
}

.c-a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

form {

    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 2px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
}

.c-submitBtn {
    border: none;
    padding: 15px;
    background-color: #1e8686;
    ;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.c-thank {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    margin: 10px 10px 10px 0px;
}

.c-txtarea {
    margin-top: 20px;
}

.c-submitBtn {
    margin-top: 10px;
}

@media screen and (max-width : 768px) {
    .c-bg {
        display: none;
    }

    .c-wrapper {
        flex-direction: column;
        padding: 0px 10px;

    }

    .c-left {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }

    .c-title {
        font-size: 30px;
    }

    .c-info-item {
        margin: 20px 0px;
        width: 100%;
    }

    .c-jodi {
        display: flex;
        margin: 10px 10px;
        justify-content: center;
    }

    .c-icon {
        font-size: 100%;
        margin-right: 0px,
    }

    .c-a {
        font-size: 100%;
        /* Adjust font size for smaller screens */
    }

    .c-desc {
        display: none;
    }

    form {
        width: 80%;
        flex-direction: column;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    input {
        width: 80%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    .c-submitBtn {
        margin-top: 10px;
        width: 25%;
        border-radius: 25px;
    }

    .c-thank {
        text-align: center;
        font-size: 70%;
    }

    .c-txtarea {
        width: 80%;
    }

}

@media screen and (max-width: 480px) {
    .c-bg {
        display: none;
    }

    .c-wrapper {
        flex-direction: column;
        padding: 0px 10px;
    }

    .c-left {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .c-title {
        font-size: 40px;
        font-weight: 600;
    }

    .c-info-item {
        margin: 20px 0px;
        width: 100%;
    }

    .c-jodi {
        display: flex;
        margin: 10px 10px;
        justify-content: center;
    }

    .c-icon {
        font-size: 25px;
        margin-right: 0px,
    }

    .c-a {
        font-size: 15px;
    }

    .c-desc {
        display: none;
    }

    form {
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    input {
        width: 80%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    .c-submitBtn {
        margin-top: 10px;
        width: 50%;
        height: 50%;
        border-radius: 25px;
    }

    .c-thank {
        text-align: center;
        font-size: 70%;
    }

    .c-txtarea {
        width: 80%;
    }
}