.navbar {
    display: flex;
    background-color: transparent;
    padding: 15px;
    justify-content: center;
    position: sticky;
    max-width: 100%;
    overflow: hidden;
    top: 0;
    transition: background-color 0.3s ease;
    padding: 10px;

}

.item {
    color:  rgb(104, 14, 222);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    margin:0px 10px
}

.item:hover {
    color:  rgb(255, 255, 255);
    border-color:  rgb(104, 14, 222);
    background-color: rgb(104, 14, 222);
    box-shadow: 0 2px 10px rgb(122, 122, 122);
  }

@media screen and (max-width : 768px) {
    .item{
        font-size: 16px;
    }
}
@media screen and (max-width : 480px) {
    .item{
        font-size: 10px;
    }
}


