
.item-name{
    margin: 0px;
}

.navbar {
    z-index: 1;
    display: flex;
    background-color: #f9f9f9;

    padding: 15px 10px;
    justify-content: space-between;
    overflow: hidden;
    top: 0;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1)
}


.navbar-brand {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(18, 18, 18);
}


.item {
    color: rgb(104, 14, 222);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 17px;
    margin: 10px 10px;
}

.item:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(104, 14, 222);
    background-color: rgb(104, 14, 222);
    box-shadow: 0 2px 10px rgb(122, 122, 122);
}

.navbar-toggle {
    display: none;
    padding: 5px 0px;
    font-size: 1.2em;
    cursor: pointer;
    float: right;
}

.navbar-close{
    display: none;
}







@media screen and (max-width : 768px) {
    .navbar {
        padding: 15px;
    }

    .navbar-close{
        display: none;
    }

    .item {
        font-size: 16px;
    }
}






@media screen and (max-width : 480px) {
    .navbar.mobile {
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        top: 0;
        transition: background-color 0.3s ease;
    }

    

    .navbar-brand {
        display: block;
        padding: 5px 5px;
    }

    .item {
        margin:10px;
        font-size: 15px;
        z-index: 1;
        color: black;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        z-index: 1;
        position: inherit;
    }

    .nav-list {
        padding-top: 0px;
        
        align-items: eslint-disable-next-line start;
        height: 100vh;
        width: 60%;
        z-index: 2;
        top:0px;
        right:-300PX;
        position: fixed;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
        transition: 0.3s ease-out;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1)
    }

    .nav-list.show {
        display: flex;
        right: 0px;
        transition: 0.3s ease-out;
    }
    .navbar-close{

        font-weight: 100;
        font-size: 25px;
        margin: 20px 20px;
        display: block;
    }

}