.experiance {
    height: 100vh;
    padding: 3% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
}

.section1 {
    display: flex;
    background-color: #eeeeee;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.section2 {
    flex: 2;
    background-color: #e1e1e1;
    height: 100%;
    width: 70%;
}

.ex-title {
    font-size: 50px;
    font-weight: 700;
}

.card{
    height:50%;
    width:auto;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: row;

}

.h4{
    margin: 5px;
}

.time-period{
    height: 100%;
    width: 25%;
    background:#eeeeee;
}
.info{
    height: 100%;
    width: 75%;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px;
}